.container{
  max-width: 1000px;
  margin: auto;
}

.main_items{
  display: flex;
  justify-content: space-between;
}

.card{
  background-color: green;
  width: 200px;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 14px;
}

.card_date{
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.card_weather{
  margin-bottom: 20px;
}

.button-none{
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}